{% extends 'base.html.twig' %}

{% block formulaire_central %}

    <div id="books_picture"> </div>

    <h1>Voici une liste de vos livres charges dans notre base de donnees : </h1>

    <br>

{% endblock %}