{% extends 'base.html.twig' %}

{% block formulaire_central %}

            <div id="face"></div>

            <h1>Transformez vos notes Kindle en fiches de revision de vocabulaire : </h1>

            <form action="cible.php" method="post" enctype="multipart/form-data">

                <p>
                    Formulaire d'envoi de fichier :<br />
                    <input type="file" name="monfichier" /><br />
                    <input type="submit" value="Envoyer le fichier" /> <br/>
                </p>

            </form>

{% endblock %}