{% extends 'base.html.twig' %}
{% block formulaire_central %}
    <br/>
    <p>Success. Task's fields : <br/></p>
    <ul>

        <li>{{ task }}</li>
        {#<li>{{ dueDate }}</li>#}

    </ul>
{% endblock %}

